{% load i18n %}

<ul class="breadcrumb">
    <li><a href="{% url 'forum:index' %}"><i class="fa fa-home">&nbsp;</i>{% trans "Forum index" %}</a></li>
    {% if forum %}
        {% for ancestor in forum.get_ancestors %}
            <li><a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name }}</a></li>
        {% endfor %}
        <li><a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a></li>
    {% endif %}
    {% if topic %}
        <li><a href="{{ topic.get_absolute_url }}">{{ topic.subject }}</a></li>
    {% endif %}
</ul>